
<p-dialog [(visible)]="showing" [modal]="true" dismissableMask="false">

    <p-header>
        Create a Vehicle
    </p-header>

    <form class="modal-size flex flex-column relative" [formGroup]="form" (ngSubmit)="create()">

        <div class="flex flex-column" [ngClass]="{'fg-danger': isInvalid(formChassisSerie)}">
            <label>Chassis Serie</label>
            <input pInputText type="text" formControlName="chassisSerie" />
            <div *ngIf="isInvalid(formChassisSerie)">
                <small *ngIf="formChassisSerie?.errors?.['required']" >Chassis serie is required.</small>
            </div>
        </div>

        <div class="flex flex-column" [ngClass]="{'fg-danger': isInvalid(formChassisNumber)}">
            <label>Chassis Number</label>
            <input pInputText type="number" min="0" max="4294967295" formControlName="chassisNumber" />
            <div *ngIf="isInvalid(formChassisNumber)">
                <small *ngIf="formChassisNumber?.errors?.['required']" >Chassis number is required.</small>
                <small *ngIf="formChassisNumber?.errors?.['min']" >Chassis number minimum value is 0.</small>
                <small *ngIf="formChassisNumber?.errors?.['max']" >Chassis number maximum value is 4294967295</small>
            </div>
        </div>

        <div class="flex flex-column" [ngClass]="{'fg-danger': isInvalid(formColor)}">
            <label>Color</label>
            <p-dropdown [options]="colors" formControlName="color" styleClass="w-full" />
            <div *ngIf="isInvalid(formColor)">
                <small *ngIf="formColor?.errors?.['required']" >Color is required.</small>
            </div>
        </div>
        
        <div class="flex flex-column" [ngClass]="{'fg-danger': isInvalid(formType)}">
            <label>Type</label>
            <p-dropdown [options]="types" formControlName="type"  styleClass="w-full" />
            <div *ngIf="isInvalid(formType)">
                <small *ngIf="formType?.errors?.['required']" >Type is required.</small>
            </div>
        </div>
        
        <div class="flex justify-content-end pt-4">
            <button pButton type="submit" 
                    icon="pi pi-check" 
                    class="p-button-success ml-3" 
                    label="Create"
                    *ngIf="!loading()"></button>
            
            <loading *ngIf="loading()"></loading>
       
        </div>
        
    </form>

</p-dialog>
